In [1]:
#Time complexity : measure the time take by the program .
# We have 3 notation
    - Big-Oh -O() - Wrost case 
    - Big-Teta -  - Average case
    - Big - Omeg  - Best case
#Always calculate the Wrong case time complexity

O(1) < O(logn ) < O(n) < O(n * logn) < O(n*n) < O(2**n) < O(n!)

In [2]:
import math
math.log10(100)

2.0

In [ ]:
O(1) < O(logn ) <O(n/2) < O(sqrt(N)) < O(n) < O(n * logn) < O(n*n) < O(2**n) < O(n!)

####  O(1) : one unit of time 
- Constant

In [ ]:
print("Hei")
a=10
b=20
print(a+b)

if a>9:
    print("Greater")
else:
    print("not greater")
    
    
#O(1)

In [3]:
for i in range(1):
    print("Hey Hi")

Hey Hi

In [5]:
for i in range(100):
    print("HI ", end= " ")
    
#it is not depending on other variable 
#it is constant
#O(1)

HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI  HI

### o(n) - Linear

In [10]:
s = input()

if s!="":
    for i in range(len(s)):
        print(s[i] , end = " ")
else:
    print("not equal")
    
#if  - O(len(String)) - O(n)
#else - O(1)

not equal

In [12]:
#O(n+10) - o(n)
n = int(input())
for i in range(n+10):
    print("H" , end="")

10
HHHHHHHHHHHHHHHHHHHH

### O(n*n) - Quad

In [ ]:
n  = int(input())
for row in range(n):
    for col in range(n):
        print(f'{row}:{col}')
    print()
    
# outer-forloop = O(n)
# inner-forloop = O(n)
# total = O(n*n)

In [19]:
n = int(input())
for i in range(1):
    for j in range(n):
        print(i , end ="")
    print()
    
# outer-forloop = O(1)
# inner-forloop = O(n)
# total = O(n*1) = O(n)

5
00000

In [21]:
n = 10
for i in range(1):
    for j in range(n):
        print(i , end ="")
    print()
# outer-forloop = O(1)
# inner-forloop = O(10)
# total = O(10*1) = O(10) - O(1)

0000000000

In [29]:
import math
print(math.sqrt(10))
print(math.floor(math.sqrt(10)))
print(math.ceil(math.sqrt(10)))

3.1622776601683795
3
4

In [23]:
for i in range(math.sqrt(10)):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

### 0(sqrt(n))

In [32]:
import math
n = int(input())

n_range = math.floor(math.sqrt(n))

for i in range(n_range):
    print(i , end="")
    
#O(sqrt(n))

100
0123456789

In [34]:
import math
n = int(input())
count=0
for i in range(n):
    temp = math.floor(math.sqrt(n))
    for j in range(temp):
        count= count+1
print(f"count : {count}")

# outer-forloop = O(n)
# inner-forloop = O(sqrt(n))
# total = O(n*sqrt(n))

25
count : 125

### o(n/2)

In [36]:
n = int(input())
for i in range(n//2):
    print(i , end=" ")

7
0 1 2

In [39]:
n = int(input()) 
count=0
for i in range(n):
    for j in range(n//2):
            count+=1
print(f"count {count}")

5
count 10

In [40]:
n = int(input()) 
count=0
for i in range(n):
    for j in range(n//2):
        for k in range(n):
            count+=1
print(f"count {count}")

5
count 50

In [42]:
math.floor(math.log10(10))

1

In [44]:
import math 
n = int(input())
count=0
for first in range(n):
    for sec in range(n):
        third_range  = math.floor(math.log10(n))
        for third in range(third_range):
            count = count+1
print(f" count :{count}")f

10
 count :100

10
 count :250

In [ ]:
n = 10